{% extends 'index.html'%}

{% block title %}
<title>Editar Perfil</title>
{% endblock %}

{% block formulario %}

<h1>Editar Perfil</h1>

{% if mensaje %}

<h2>{{mensaje}}</h2>

{% else %}

<h2>Usuario: {{usuario}}</h2>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>

    <input type="submit", value="Enviar">
</form>

<button type="button">
    <a href={% url 'changePassword' %}>change Password</a>
</button>

{% endif %}

{% endblock %}